In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from PIL import Image

In [2]:
df = pd.read_csv('train_original.csv')

In [3]:
df

,Image_path,Insurance_company,Cost_of_vehicle,Min_coverage,Expiry_date,Max_coverage,Condition,Amount
0,img_4513976.jpg,BQ,41500.0,1037.5,2026-12-03,36142.68,0,0.0
1,img_7764995.jpg,BQ,50700.0,1267.5,2025-07-10,12753.00,1,6194.0
2,img_451308.jpg,A,49500.0,1237.5,2022-08-11,43102.68,0,0.0
3,img_7768372.jpg,A,33500.0,837.5,2022-08-02,8453.00,1,7699.0
4,img_7765274.jpg,AC,27600.0,690.0,2026-05-01,6978.00,1,8849.0
...,...,...,...,...,...,...,...,...
1394,img_4637237.jpg,DA,52300.0,1307.5,2025-02-17,13153.00,1,4565.0
1395,img_4637000.jpg,BQ,41500.0,1037.5,2023-12-30,10453.00,1,3363.0
1396,img_4637503.jpg,AA,31400.0,785.0,2022-11-25,7928.00,1,5336.0
1397,img_4515101.jpg,A,33200.0,830.0,2022-10-10,8378.00,1,8734.0
1398,img_4636333.jpg,B,NaN,NaN,2024-10-30,NaN,1,NaN

Defino función ad hoc para rotar las imágenes

In [4]:
def genera_imagen_rotada(imagen,angulo):
    nueva_im = imagen.rotate(angulo)
    nombre_im = imagen.filename.replace('.jpg','')
    nuevo_nombre_im = (nombre_im+'_'+str(angulo)+'.jpg').replace('trainResizedImages/','')
    nueva_im.save(nuevo_nombre_im)
    return nuevo_nombre_im

In [5]:
imagen = Image.open('trainResizedImages/img_45123.jpg')
imagen.size

(200, 310)

In [6]:
genera_imagen_rotada(imagen,270)

'img_45123_270.jpg'

In [8]:
df_new = pd.DataFrame()
new_rows = []
for index, row in df.iterrows():
    if row['Amount']==0: # Si el monto de daño es nulo
        im = Image.open('trainResizedImages/'+row['Image_path'])
        for angulo in [90,180,270]:
            new_row = row
            new_row['Image_path']= genera_imagen_rotada(im,angulo)
            df_new = pd.concat([df_new,pd.DataFrame(new_row).T])

In [9]:
len(df)

1399

In [10]:
len(df_new)

297

In [11]:
df_edit = pd.concat([df_new,df]).sort_values(by='Image_path')

In [12]:
df_edit.to_csv('train.csv',index=False)